/*MENU
0 -Geral
1 - Nav Bar
2 - Section 1
3 - Section 2
*/

/* 0 - Geral */

:root {
    --rosa-primario: #FFB6C0;
    --rosa-secundario: rgba(255,182,192,0.8);

    --branco-primario: #FFF;
    --branco-secundario: #FFFEE8;

    --cinza-primario: #333;
		--cinza-secundario: #CECECE;
		--cinza-footer: 
}

@font-face {
    font-family: "Titan";
    src: url(../fonts/TitanOne-Regular.ttf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf);
}

/* 1 - Nav Bar */

header {
    width: 90%;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 15px 5px;
    font-size: 1.125em;
}

nav a {
    color: var(--branco-secundario);
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--rosa-secundario);
    transition: 0.3s;
}

/* seletores com pseudo-elemento */
nav ul li:nth-child(2)::before,
nav ul li:nth-child(3)::before,
nav ul li:nth-child(4)::before {
    display: inline-block;
    content: "";
    height: 35px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top: .5em;
    left: -7px; /*ou right: 7px;*/
} 

/* 2 - Section 1 */

.home {
    background-image: url("../imagens/animal.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--branco-secundario);
    text-align: center;
    font-family: "Titan";
}

.home .box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home h1 {
    font-size: 4em;
    letter-spacing: 4px;
    
}

.home .icons {
	margin: 50px 0;
}

.home .icons-content {
	width: 75px;
	height: 75px;
}

#central {
	margin: 0 20%;
}

.home .more {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50% , -50%);

}

.home .more p {
	font-size: 1.5em;
	font-family: "Comfortaa";
	color: var( --branco-primario);
	margin-bottom: 5%;
}

.home .arrow {
	height: 28px;
	width: 28px;
	margin: 0 auto;
	border-left: solid 8px var( --branco-secundario);
	border-bottom: solid 8px var( --branco-secundario);
	transform: rotate(-45deg);
	border-radius: 10%;
}

.quem-somos h2 {
	color: var(--rosa-primario);
	font-family: "Titan";
	font-size: 1.625em;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 48px;
}

.quem-somos {
}

.quem-somos .text p {
	text-align: justify;
	font-family: "Comfortaa";
}

.quem-somos .imagens .dog {
	

}

.quem-somos .imagens .cat {
	float: left;
}



/* Section - 7 - footer */

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.footer {
	display: inline;
	background-color: var( --cinza-secundario);
	height: 100px;
}

footer .icons {
	float: left;
}

.footer .svg-icon {
	display: inline;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 3em;
	-webkit-mask-position: center;
	width: 3em;
	height: 3em;
	background-color: var( --rosa-primario);

}

.footer .facebook-icon {
	-webkit-mask-image: url("assets/imagens/facebook.svg");
	
}